{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{{ title }}</title>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">
      {{ form.media }}


  </head>
  <body>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid" style="background-color:#dbdbdb;">
  <div class="row">
          <div>
          <img src={% static 'img/leidos_logo_2013.jpg' %} alt="leidosLogo" width="100%"> </a>  </li>
        </h1>

      <center><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'adminUser:addstaff' %}">Add Staff</a></li>
      <li><a href="{% url 'adminUser:stafflist' %}">Staff List</a> </li>
      <li><a href="{% url 'adminUser:addproject' %}">Add Project</a></li>
      <li><a href="{% url 'adminUser:projectlist' %}">Projects List</a></li>
        <li><a href="{% url 'adminUser:projectlist' %}">Matchmaking</a></li>
    </ul>
  </div>

           <div class="container-heading">
              {{ title }}
          </div>
</nav>
</div>



 {% if messages %}
        <div class = "row">
      <div class="col-sm-6 col-sm-offset-3">
    {% for message in messages %}
    <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
        </div>
{% endif %}

<div class="container-fluid">

     <div class="pull-right"><a href = {% url 'accounts:logoutUser' %} class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-log-out"></span>Sign out</a></div>
<br>
        <br>
  <div class="row">
    <div class="col-md-2">

<div id="refresh">
<script> jQuery(document).ready(function (){jQuery("#refresh").load('{% url "adminUser:alertTab" %}');})
         </script>
              <script>
jQuery(document).ready(function(){setInterval(function(){jQuery("#refresh").load('{% url "adminUser:alertTab" %}');
   },6000)
       });</script>
        </div>

    </div>

    <div class="col-md-10">


                    <form method="POST" action="">
                    {% csrf_token %}
                        {% crispy form %}

                        <br>
                         {% crispy form2 %}

                        <br>
                        <br>

                        <div class="col-md-offset-11">

                        <input class="btn btn-success btn-sm" type="submit" value="Update" />
                            </div>
                    </form>


        <br>
        <br>



    </div>

  </div>

</div>
<div class="container-footer">
    <br><br>
    <div class="row">
        <div class="col-sm-2">

    <img src={% static 'img/leidos.png' %} alt="leidosLogo" class="img-rounded img-responsive img-footer">

</div>
        <div class="col-sm-2">

    <h8>Leidos Inc.
        <br>
        2017 Leidos inc.©
        <br>
     Reston, Virginia
</h8>
              </div>


  <div class="col-sm-2 pull-right">

    <img src={% static 'img/Logo.jpg' %} alt="syntaxLogo" class="img-rounded img-responsive img-footer-syntax">

</div>
         <div class="col-sm-2 pull-right">

    <h8>Developed By Syntax Inc.©
        <br>
        Dubai, United Arab Emirates
        <br>

</h8>
              </div>

        </div>

             <br><br>



</div>


</body>
</html>
