{% load staticfiles %}
{% load countries %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{{ info.user.first_name }} {{ info.user.last_name }}</title>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="{% static "js/search.js" %}"></script>
     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">

  </head>
  <body>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid" style="background-color:#dbdbdb;">
  <div class="row">
          <div>
          <img src={% static 'img/leidos_logo_2013.jpg' %} alt="leidosLogo" width="100%"> </a>  </li>
        </h1>
        
      <center><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'adminUser:addstaff' %}">Add Staff</a></li>
      <li><a href="{% url 'adminUser:stafflist' %}">Staff List</a> </li>
      <li><a href="{% url 'adminUser:addproject' %}">Add Project</a></li>
      <li><a href="{% url 'adminUser:projectlist' %}">Projects List</a></li>
        <li><a href="{% url 'adminUser:projectlist' %}">Matchmaking</a></li>
    </ul>
  </div>

           <div class="container-heading">
           {{ info.user.first_name }} {{ info.user.last_name }}
          </div>
</nav>
</div>



 {% if messages %}
        <div class = "row">
      <div class="col-sm-6 col-sm-offset-3">
    {% for message in messages %}
    <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
        </div>
{% endif %}

<div class="container-fluid">

     <div class="pull-right"><a href = {% url 'accounts:logoutUser' %} class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-log-out"></span>Sign out</a></div>
<br>
        <br>
  <div class="row">
    <div class="col-md-2">


<div id="refresh">
<script> jQuery(document).ready(function (){jQuery("#refresh").load('{% url "adminUser:alertTab" %}');})
         </script>
              <script>
jQuery(document).ready(function(){setInterval(function(){jQuery("#refresh").load('{% url "adminUser:alertTab" %}');
   },6000)
       });</script>
        </div>

    </div>
    <div class="col-md-8">
        <div class="container container-rounded">
        <table class="table table-responsive">
    <tbody>
     <tr>
        <td class="profile">Staff ID: {{ info.staffID }}</td>
         <td class="profile">Email: {{ info.user.email }}</td>
      </tr>
      <tr>
        <td class="profile">First Name: {{ info.user.first_name }}</td>
          <td class="profile">Last Name: {{ info.user.last_name }}</td>
      </tr>
      <tr>
          <td class="profile">Nationality: {% get_country info.nationality as country %} {{ country.name }} </td>
        <td class="profile">Status: {{ info.workStatus }}</td>
      </tr>
      <tr>
          <td class="profile">Designation: {{ info.designation}}</td>
       <td class="profile">Date Of Birth: {{ info.dateOfBirth }}</td>
      </tr>
     <tr>
        <td class="profile">Preferred Country: {{ info.preferredLocation.country }}</td>
         <td class="profile">Preferred City: {{ info.preferredLocation.city }}</td>
      </tr>
    <tr>
        <td class="profile">Last Login: {{ info.user.last_login }}</td>
        <td></td>

      </tr>

    </tbody>
  </table>

     </div>
    <br><br>
           <div class="pull-right">
    <a href="{% url 'adminUser:editprofile' info.staffID %}" class="btn btn-info btn-md">
          <span class="glyphicon glyphicon-edit"></span> Edit Profile
        </a>
        </div>
        <br>
  <div class="container">
  <h3>Skill Level</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ info.skillLevel }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ info.skillLevel }}%">
      {{ info.skillLevel }}% Skill Level
    </div>
  </div>
</div>
        <br>
    <br>
  <div class="refresh">
              <table class="table table-responsive table-full">


          <thead>
              <td class="num"><a href="{% url 'adminUser:currentprojectsget' info.staffID %}">{{ ongoing }}</a></td>
              <td class="projectNum"><a href="{% url 'adminUser:upcomingprojectsget' info.staffID %}">{{ upcoming }}</a></td>
              <td class="upcoming"><a href="{% url 'adminUser:completedprojectsget' info.staffID  %}">{{ completed }}</a></td>
          </thead>
<thead>
                  <th class="headText">On Going Projects</th>
                  <th class="headText">Upcoming Projects</th>
                  <th class="headText">Completed Projects</th>
                  </thead>

  </table>
          </div>
        <br>
    <h3>Skills</h3>
         <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search Skills">
</div>
<span class="counter pull-right"></span>
              <table class="table table-responsive table-bordered listTable results">
              <thead>
              <tr>
                  <th class="success">Skill Name</th>
                  <th class="success">Hours Available</th>

              </tr>
                <tr class="warning no-result">
      <td colspan="4" class="warning"><i class="fa fa-warning"></i> No result</td>
    </tr>
              </thead>
        <tbody>


            {% for skills,hrs in skillwithhrs.items  %}

            <tr>

            <td class="danger">{{ skills}}</td>

            <td class = "danger">{{ hrs }}</td>

  {% endfor %}


            </tr>




        </tbody>
      </table>
        <br>
     <div class="pull-right">
    <a href="{% url 'adminUser:addskill' info.staffID %}" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-plus"></span> Add Skills
        </a>
     </div>
        <br>
      <br>      <br>
      <grammarly>
        <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
          <div class="_9b5ef6-transform_wrap">
            <div class="_9b5ef6-status">

            </div>
          </div>
        </div>
      </grammarly>

    </div>

  </div>

</div>
<div class="container-footer">
    <br><br>
    <div class="row">
        <div class="col-sm-2">

    <img src={% static 'img/leidos.png' %} alt="leidosLogo" class="img-rounded img-responsive img-footer">

</div>
        <div class="col-sm-2">

    <h8>Leidos Inc.
        <br>
        2017 Leidos inc.©
        <br>
     Reston, Virginia
</h8>
              </div>


  <div class="col-sm-2 pull-right">

    <img src={% static 'img/Logo.jpg' %} alt="syntaxLogo" class="img-rounded img-responsive img-footer-syntax">

</div>
         <div class="col-sm-2 pull-right">

    <h8>Developed By Syntax Inc.©
        <br>
        Dubai, United Arab Emirates
        <br>

</h8>
              </div>

        </div>

             <br><br>



</div>


</body>
</html>
