{% load staticfiles %}
{% load countries %}
<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}'s Dashboard</title>


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="{% static "js/search.js" %}"></script>
     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">


  </head>
  <body>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid" style="background-color:#dbdbdb;">
  <div class="row">
          <div>
          <img src="{% static 'img/leidos_logo_2013.jpg' %}" alt="" width="100%" > </a>  </li>
        </h1>
        
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
    </div>
    <ul class="nav navbar-nav">
      <li class="#"><a href="{% url 'adminUser:addstaff' %}">Add Staff</a></li>
      <li><a href="{% url 'adminUser:stafflist' %}">Staff List</a> </li>
      <li><a href="{% url 'adminUser:addproject' %}">Add Project</a></li>
      <li><a href="{% url 'adminUser:projectlist' %}">Projects List</a></li>
        <li><a href="{% url 'adminUser:projectlist' %}">Matchmaking</a></li>
    </ul>
  </div>
          <div class="container-heading">
              {{ title }}
          </div>
</nav>




   <div class="container-fluid">
   <div class="pull-right"><a href = {% url 'accounts:logoutUser' %} class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-log-out"></span>Sign out</a></div>
  <br><br>
       <div class="row">
    <div class="col-md-2">

<div id="alert">

<script> jQuery(document).ready(function (){jQuery("#alert").load('{% url "adminUser:alertTab" %}');})
         </script>
              <script>
jQuery(document).ready(function(){setInterval(function(){jQuery("#alert").load('{% url "adminUser:alertTab" %}');
   },6000)
       });</script>
        </div>
           </div>




          <div class="col-md-8">
  <table class="table table-responsive table-hover">
    <tbody>
     <tr class="success">
        <td colspan="2" class="dash">Staff ID: {{ info.staffID }}</td>
      </tr>
      <tr class="info">
        <td colspan="2" class="dash">First Name: {{ title.first_name }}</td>
          <td colspan="2" class="dash">Last Name: {{ title.last_name }}</td>
      </tr>
      <tr class="success">
          <td colspan="2" class="dash">Nationality: {% get_country info.nationality as country %} {{ country.name }} </td>
        <td colspan="2" class="dash">Status: {{ info.workStatus }}</td>
      </tr>
     <tr class="active">
          <td colspan="2" class="dash">Date Of Birth: {{ info.dateOfBirth }}</td>
        <td colspan="2" class="dash">Location: {{ info.preferredLocation.country }}</td>
      </tr>
     <tr class="info">
          <td colspan="2" class="dash">Skill Level: {{ info.skillLevel }}</td>
      </tr>
    {% for holiday in info.holidays_set.all %}
        {% if holiday.status == "Approved" and holiday.startDate > time %}
           <tr class="active">
          <td class="dash">Upcoming Leave:</td>
        <td class="dash">Leave Start Date: {{ holiday.startDate }}</td>
            <td class="dash">Leave End Date: {{ holiday.endDate }}</td>
           <td class="dash">Leave Type: {{ holiday.type }}</td>
      </tr>
        {% endif%}
    {% endfor %}

    </tbody>
  </table>
              <br><br>

          <div id="refresh">

         <script> jQuery(document).ready(function (){jQuery("#refresh").load('{% url "adminUser:tableview" %}');})
         </script>
              <script>
jQuery(document).ready(function(){setInterval(function(){jQuery("#refresh").load('{% url "adminUser:tableview" %}');
   },6000)
       });</script>

          </div>
              <br><br>
          <h2>Upcoming Projects</h2>
          <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
              <table class="table table-responsive table-hover table-scroll listTable results">

<tbody>
            <tr class="headTable1">
                <td><h4>Project ID</h4></td>
                <td><h4>Name</h4></td>
                <td><h4>Project Manager</h4></td>
                <td><h4>Start Date</h4></td>
                <td><h4>End Date</h4></td>
                <td><h4>Location</h4></td>
            </tr>


            {% for projects in upcoming %}
                <tr class="rowTable">
                    <td><p><a href="{% url 'adminUser:projectprofile' projects.projectID %}">{{ projects.projectID }}</a></p></td>
                    <td><p>{{ projects.projectName }}</p></td>
                <td><p><a href="{% url 'adminUser:staffprofile' projects.projectManager.staffID %}">{{ projects.projectManager.user.first_name}} {{ projects.projectManager.user.last_name}} </p> </a></td>
                <td><p>{{ projects.startDate }}</p></td>
                <td><p>{{ projects.endDate }}</p></td>
                <td><p>{{ projects.location.country }}</p></td>

                </tr>
        {% endfor %}
    </tbody>
  </table>
</div>



      </div>
      <br>
      <br>
      <grammarly>
        <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
          <div class="_9b5ef6-transform_wrap">
            <div class="_9b5ef6-status">

            </div>
          </div>
        </div>
      </grammarly>
    </div>
  </div>
</div>



    </div>
    <div class="container-footer">
    <br><br>
    <div class="row">
        <div class="col-sm-2">

    <img src={% static 'img/leidos.png' %} alt="leidosLogo" class="img-rounded img-responsive img-footer">

</div>
        <div class="col-sm-2">

    <h8>Leidos Inc.
        <br>
        2017 Leidos inc.©
        <br>
     Reston, Virginia
</h8>
              </div>


  <div class="col-sm-2 pull-right">

    <img src={% static 'img/Logo.jpg' %} alt="syntaxLogo" class="img-rounded img-responsive img-footer-syntax">

</div>
         <div class="col-sm-2 pull-right">

    <h8>Developed By Syntax Inc.©
        <br>
        Dubai, United Arab Emirates
        <br>

</h8>
              </div>

        </div>

             <br><br>



</div>
    </div>

</body>
</html>
