<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
      <table class="table table-responsive borderless">

    <thead>
          <tr>
              <th class="num"><a href="{% url 'adminUser:currentstaff' %}">{{ num }}</a></th>
              <th class="projectNum"><a href="{% url 'adminUser:currentprojects' %}">{{ projectNum }}</a></th>
              <th class="upcoming"><a href="{% url 'adminUser:upcomingprojects' %}">{{ upcoming.count }}</a></th>
          </tr>

    </thead>
            <thead>

                  <th class="headText">Completed Projects</th>
                  <th class="headText">On Going Projects</th>
                  <th class="headText">Upcoming Projects</th>

                  </thead>
  </table>

</body>
</html>