{% load staticfiles %}
{% load countries %}
<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}'s Dashboard</title>


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="{% static "js/search.js" %}"></script>
     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">


  </head>
  <body>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid" style="background-color:#dbdbdb;">
  <div class="row">
          <div>
          <img src="{% static 'img/leidos_logo_2013.jpg' %}" alt="" width="100%" > </a>  </li>
        </h1>
        
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'projectManager:myprojects' %}">My Projects</a></li>
      <li><a href="{% url 'projectManager:projectlist' %}">Projects List</a></li>
        <li><a href="{% url 'adminUser:projectlist' %}">Matchmaking</a></li>
    </ul>
  </div>
            <div class="container-heading">
              {{ title }}'s Profile
          </div>
</nav>



   <div class="container-fluid">
   <div class="pull-right"><a href = {% url 'accounts:logoutUser' %} class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-log-out"></span>Sign out</a></div>
  <br><br>
       <div class="row">
    <div class="col-md-2">

<div id="alert">
<script> jQuery(document).ready(function (){jQuery("#alert").load('{% url "projectManager:alertTab" %}');})
         </script>
              <script>
jQuery(document).ready(function(){setInterval(function(){jQuery("#alert").load('{% url "projectManager:alertTab" %}');
   },10000)
       });</script>
        </div>
           </div>




          <div class="col-md-8">
  <table class="table table-responsive table-hover">
    <tbody>
     <tr class="success">
        <td colspan="2" class="dash">Staff ID: {{ info.staffID }}</td>
      </tr>
      <tr class="info">
        <td colspan="2" class="dash">First Name: {{ title.first_name }}</td>
          <td colspan="2" class="dash">Last Name: {{ title.last_name }}</td>
      </tr>
      <tr class="success">
          <td colspan="2" class="dash">Nationality: {% get_country info.nationality as country %} {{ country.name }} </td>
        <td colspan="2" class="dash">Status: {{ info.workStatus }}</td>
      </tr>
     <tr class="active">
          <td colspan="2" class="dash">Date Of Birth: {{ info.dateOfBirth }}</td>
        <td colspan="2" class="dash">Location: {{ info.preferredLocation.country }}</td>
      </tr>
     <tr class="info">
          <td colspan="2" class="dash">Skill Level: {{ info.skillLevel }}</td>
      </tr>
    {% for holiday in info.holidays_set.all %}
        {% if holiday.status == "Approved" and holiday.startDate > time %}
           <tr class="active">
          <td class="dash">Upcoming Leave:</td>
        <td class="dash">Leave Start Date: {{ holiday.startDate }}</td>
            <td class="dash">Leave End Date: {{ holiday.endDate }}</td>
           <td class="dash">Leave Type: {{ holiday.type }}</td>
      </tr>
        {% endif%}
    {% endfor %}

    </tbody>
  </table>
              <br><br>

 <div class="refresh">
              <table class="table table-responsive table-full">


          <thead>
              <td class="num"><a href="{% url 'projectManager:currentprojectsget' info.staffID %}">{{ ongoing }}</a></td>
              <td class="projectNum"><a href="{% url 'projectManager:upcomingprojectsget' info.staffID %}">{{ upcoming.count }}</a></td>
              <td class="upcoming"><a href="{% url 'projectManager:completedprojectsget' info.staffID  %}">{{ completed }}</a></td>
          </thead>
                     <thead>
                  <th class="headText">My On Going Projects</th>
                  <th class="headText">My Upcoming Projects</th>
                  <th class="headText">My Completed Projects</th>
                  </thead>

    </tbody>
  </table>
          </div>

              <br><br>
          <h2>My Skills</h2>
                     <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search Skills">
</div>
<span class="counter pull-right"></span>
             <table class="table table-responsive table-bordered listTable results">
              <thead>
              <tr>
                  <th class="success">Skill Name</th>
                  <th class="success">Hours Available</th>

              </tr>
                <tr class="warning no-result">
      <td colspan="4" class="warning"><i class="fa fa-warning"></i> No result</td>
    </tr>
              </thead>
        <tbody>


            {% for skills,hrs in skillwithhrs.items  %}

            <tr>

            <td class="danger">{{ skills}}</td>

            <td class = "danger">{{ hrs }}</td>

  {% endfor %}


            </tr>




        </tbody>
      </table>
</div>



      </div>
      <br>
      <br>
      <grammarly>
        <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
          <div class="_9b5ef6-transform_wrap">
            <div class="_9b5ef6-status">

            </div>
          </div>
        </div>
      </grammarly>
    </div>
  </div>
</div>

    </div>
    <div class="container-footer">
    <br><br>
    <div class="row">
        <div class="col-sm-2">

    <img src={% static 'img/leidos.png' %} alt="leidosLogo" class="img-rounded img-responsive img-footer">

</div>
        <div class="col-sm-2">

    <h8>Leidos Inc.
        <br>
        2017 Leidos inc.©
        <br>
     Reston, Virginia
</h8>
              </div>


  <div class="col-sm-2 pull-right">

    <img src={% static 'img/Logo.jpg' %} alt="syntaxLogo" class="img-rounded img-responsive img-footer-syntax">

</div>
         <div class="col-sm-2 pull-right">

    <h8>Developed By Syntax Inc.©
        <br>
        Dubai, United Arab Emirates
        <br>

</h8>
              </div>

        </div>

             <br><br>



</div>
    </div>
</body>
</html>
